In [11]:
# Install necessary library
!pip install cassandra-driver

# Import required libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd
import uuid
import json

# Load secure connect bundle for Cassandra
cloud_config = {
    'secure_connect_bundle': 'secure-connect-big-data-cassandra.zip'  # Replace with your secure connect bundle
}
with open("grandh23@students.rowan.edu-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

# Verifying connection
if session:
    print("✅ Successfully connected to Cassandra!")
else:
    print("❌ An error occurred while connecting.")

# Setting keyspace
keyspace_name = 'cass_keyspace'
session.set_keyspace(keyspace_name)
print(f"✅ Connected to keyspace: {session.keyspace}")

# Checking for existing tables
rows = session.execute(f"SELECT table_name FROM system_schema.tables WHERE keyspace_name = '{keyspace_name}'")
print("🔍 Checking existing tables in the keyspace:")
for row in rows:
    print(f"- {row.table_name}")

# Dropping existing tables
rows = session.execute(f"SELECT table_name FROM system_schema.tables WHERE keyspace_name = '{keyspace_name}'")
for row in rows:
    table_name = row.table_name
    try:
        session.execute(f"DROP TABLE IF EXISTS {table_name};")
        print(f"🗑️ Table '{table_name}' dropped.")
    except Exception as e:
        print(f"⚠️ Error dropping table '{table_name}': {e}")

# Step 1: Create Bronze Table
print("\n🟤 Creating the Bronze table, which stores raw data...")
session.execute("""
CREATE TABLE IF NOT EXISTS sales_bronze (
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date TEXT,
    order_id UUID PRIMARY KEY,
    ship_date TEXT,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue FLOAT,
    total_cost FLOAT,
    total_profit FLOAT
);
""")
print("🟤 Bronze table 'sales_bronze' created successfully!")

# Step 2: Load data into Bronze Table
print("\n🟤 Inserting raw data into the Bronze table...")
df = pd.read_csv('/content/sales_100.csv')  # Replace with the correct path to your CSV file
for _, row in df.iterrows():
    session.execute("""
        INSERT INTO sales_bronze (region, country, item_type, sales_channel, order_priority, order_date, order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Region'], row['Country'], row['Item Type'], row['Sales Channel'],
        row['Order Priority'], row['Order Date'], uuid.uuid4(),
        row['Ship Date'], row['UnitsSold'], row['UnitPrice'],
        row['UnitCost'], row['TotalRevenue'], row['TotalCost'], row['TotalProfit']
    ))
print("✅ Data inserted into Bronze table 'sales_bronze'.")

# Step 3: Create Silver Table
print("\n🔘 Creating the Silver table, which stores cleaned and filtered data...")
session.execute("""
CREATE TABLE IF NOT EXISTS sales_silver (
    order_id UUID PRIMARY KEY,
    region TEXT,
    country TEXT,
    item_type TEXT,
    total_profit FLOAT
);
""")
print("🔘 Silver table 'sales_silver' created successfully!")

# Populate Silver Table
print("\n🔘 Inserting cleaned and filtered data into the Silver table...")
rows = session.execute("SELECT order_id, region, country, item_type, total_profit FROM sales_bronze;")
for row in rows:
    session.execute("""
        INSERT INTO sales_silver (order_id, region, country, item_type, total_profit)
        VALUES (%s, %s, %s, %s, %s)
    """, (row.order_id, row.region, row.country, row.item_type, row.total_profit))
print("✅ Data inserted into Silver table 'sales_silver'.")

# Step 4: Create and Populate Gold Tables
print("\n🟡 Creating Gold tables, which store aggregated data for analysis...")

# Table: Sales by Region
session.execute("""
CREATE TABLE IF NOT EXISTS sales_by_region (
    region TEXT PRIMARY KEY,
    total_profit FLOAT
);
""")
print("🟡 Gold table 'sales_by_region' created.")

rows = session.execute("SELECT region, total_profit FROM sales_bronze")
df_region = pd.DataFrame(rows)
aggregated_region = df_region.groupby('region', as_index=False).agg({'total_profit': 'sum'})
for _, row in aggregated_region.iterrows():
    session.execute("""
        INSERT INTO sales_by_region (region, total_profit)
        VALUES (%s, %s)
    """, (row['region'], row['total_profit']))
print("✅ Data inserted into Gold table 'sales_by_region'.")

# Table: Sales by Item Type
session.execute("""
CREATE TABLE IF NOT EXISTS sales_by_item_type (
    item_type TEXT PRIMARY KEY,
    total_units_sold INT
);
""")
print("🟡 Gold table 'sales_by_item_type' created.")

rows = session.execute("SELECT item_type, units_sold FROM sales_bronze")
df_item_type = pd.DataFrame(rows)
aggregated_item_type = df_item_type.groupby('item_type', as_index=False).agg({'units_sold': 'sum'})
for _, row in aggregated_item_type.iterrows():
    session.execute("""
        INSERT INTO sales_by_item_type (item_type, total_units_sold)
        VALUES (%s, %s)
    """, (row['item_type'], row['units_sold']))
print("✅ Data inserted into Gold table 'sales_by_item_type'.")

# Table: Monthly Sales Summary
session.execute("""
CREATE TABLE IF NOT EXISTS monthly_sales_summary (
    order_date TEXT PRIMARY KEY,
    total_revenue FLOAT
);
""")
print("🟡 Gold table 'monthly_sales_summary' created.")

rows = session.execute("SELECT order_date, total_revenue FROM sales_bronze")
df_order_date = pd.DataFrame(rows)
aggregated_order_date = df_order_date.groupby('order_date', as_index=False).agg({'total_revenue': 'sum'})
for _, row in aggregated_order_date.iterrows():
    session.execute("""
        INSERT INTO monthly_sales_summary (order_date, total_revenue)
        VALUES (%s, %s)
    """, (row['order_date'], row['total_revenue']))
print("✅ Data inserted into Gold table 'monthly_sales_summary'.")

# Step 5: Query Gold Tables
print("\n📊 Querying the Gold tables for aggregated data:")
gold_tables = ["sales_by_region", "sales_by_item_type", "monthly_sales_summary"]
for table in gold_tables:
    print(f"\n📋 Data from {table}:")
    rows = session.execute(f"SELECT * FROM {table};")
    for row in rows:
        print(row)

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.10/dist-packages (3.29.2)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 790f50dd-cfdf-41df-8870-e1e8346adb01-westus3.db.astra.datastax.com:29042:0750e59f-441b-37bb-b0a7-e097c5d725f7. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 790f50dd-cfdf-41df-8870-e1e8346adb01-westus3.db.astra.datastax.com:29042:0750e59f-441b-37bb-b0a7-e097c5d725f7. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for 790f50dd-cfdf-41df-8870-e1e8346adb01-westus3.db.astra.datastax.com:29042:0750e59f-441b-37bb-b0a7-e097c5d725f7. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

✅ Successfully connected to Cassandra!
✅ Connected to keyspace: cass_keyspace
🔍 Checking existing tables in the keyspace:
- monthly_sales_summary
- sales_bronze
- sales_by_item_type
- sales_by_region
- sales_silver
🗑️ Table 'monthly_sales_summary' dropped.
🗑️ Table 'sales_bronze' dropped.
🗑️ Table 'sales_by_item_type' dropped.
🗑️ Table 'sales_by_region' dropped.
🗑️ Table 'sales_silver' dropped.

🟤 Creating the Bronze table, which stores raw data...
🟤 Bronze table 'sales_bronze' created successfully!

🟤 Inserting raw data into the Bronze table...
✅ Data inserted into Bronze table 'sales_bronze'.

🔘 Creating the Silver table, which stores cleaned and filtered data...
🔘 Silver table 'sales_silver' created successfully!

🔘 Inserting cleaned and filtered data into the Silver table...
✅ Data inserted into Silver table 'sales_silver'.

🟡 Creating Gold tables, which store aggregated data for analysis...
🟡 Gold table 'sales_by_region' created.
✅ Data inserted into Gold table 'sales_by_region'.
🟡 Gold table 'sales_by_item_type' created.
✅ Data inserted into Gold table 'sales_by_item_type'.
🟡 Gold table 'monthly_sales_summary' created.
✅ Data inserted into Gold table 'monthly_sales_summary'.

📊 Querying the Gold tables for aggregated data:

📋 Data from sales_by_region:
Row(region='Australia and Oceania', total_profit=3486940.0)
Row(region='Europe', total_profit=11267281.0)
Row(region='Middle East and North Africa', total_profit=6514262.0)
Row(region='Central America and the Caribbean', total_profit=4252300.0)
Row(region='Asia', total_profit=6749896.0)
Row(region='Sub-Saharan Africa', total_profit=7651892.0)
Row(region='North America', total_profit=1404621.5)

📋 Data from sales_by_item_type:
Row(item_type='Household', total_units_sold=57640)
Row(item_type='Office Supplies', total_units_sold=42814)
Row(item_type='Vegetables', total_units_sold=7368)
Row(item_type='Snacks', total_units_sold=14377)
Row(item_type='Personal Care', total_units_sold=39045)
Row(item_type='Meat', total_units_sold=50437)
Row(item_type='Fruits', total_units_sold=65920)
Row(item_type='Beverages', total_units_sold=45206)
Row(item_type='Cereal', total_units_sold=45776)
Row(item_type='Cosmetics', total_units_sold=65707)
Row(item_type='Baby Food', total_units_sold=20372)
Row(item_type='Clothes', total_units_sold=40148)

📋 Data from monthly_sales_summary:
Row(order_date='7/1/2012', total_revenue=1071140.0)
Row(order_date='9/5/2012', total_revenue=56530.46875)
Row(order_date='2/4/2015', total_revenue=1856737.875)
Row(order_date='1/27/2013', total_revenue=34856.87890625)
Row(order_date='10/11/2012', total_revenue=274640.59375)
Row(order_date='11/7/2011', total_revenue=12866.0703125)
Row(order_date='5/17/2017', total_revenue=61415.359375)
Row(order_date='1/19/2011', total_revenue=746767.0)
Row(order_date='1/15/2016', total_revenue=5445064.0)
Row(order_date='4/11/2010', total_revenue=1932962.875)
Row(order_date='11/19/2011', total_revenue=4707294.0)
Row(order_date='9/8/2015', total_revenue=2101183.25)
Row(order_date='7/29/2014', total_revenue=3672173.25)
Row(order_date='5/11/2016', total_revenue=1411953.625)
Row(order_date='6/20/2014', total_revenue=1168581.75)
Row(order_date='12/5/2016', total_revenue=3780403.5)
Row(order_date='10/17/2016', total_revenue=339860.8125)
Row(order_date='11/11/2015', total_revenue=301612.8125)
Row(order_date='10/22/2012', total_revenue=760579.375)
Row(order_date='11/13/2014', total_revenue=434357.3125)
Row(order_date='11/1/2011', total_revenue=231050.703125)
Row(order_date='2/21/2014', total_revenue=4006267.5)
Row(order_date='3/23/2017', total_revenue=583484.1875)
Row(order_date='10/20/2014', total_revenue=89558.671875)
Row(order_date='11/2/2011', total_revenue=419198.09375)
Row(order_date='12/7/2015', total_revenue=2570673.75)
Row(order_date='3/16/2016', total_revenue=3012716.5)
Row(order_date='9/28/2011', total_revenue=416332.21875)
Row(order_date='2/10/2016', total_revenue=3771157.0)
Row(order_date='5/23/2016', total_revenue=3396169.5)
Row(order_date='8/19/2010', total_revenue=2884921.5)
Row(order_date='3/1/2016', total_revenue=2149107.75)
Row(order_date='6/14/2015', total_revenue=288752.09375)
Row(order_date='11/30/2016', total_revenue=70036.203125)
Row(order_date='1/18/2013', total_revenue=28327.650390625)
Row(order_date='3/29/2011', total_revenue=1896974.75)
Row(order_date='4/13/2015', total_revenue=1027580.1875)
Row(order_date='5/9/2011', total_revenue=3263260.75)
Row(order_date='11/29/2010', total_revenue=3470056.5)
Row(order_date='7/7/2011', total_revenue=289426.40625)
Row(order_date='6/23/2012', total_revenue=6253569.5)
Row(order_date='10/9/2012', total_revenue=107533.8828125)
Row(order_date='6/18/2010', total_revenue=44224.19921875)
Row(order_date='3/8/2017', total_revenue=3699975.25)
Row(order_date='10/28/2015', total_revenue=5206491.5)
Row(order_date='4/4/2010', total_revenue=652532.3125)
Row(order_date='9/4/2016', total_revenue=231345.765625)
Row(order_date='6/12/2012', total_revenue=298982.4375)
Row(order_date='11/15/2011', total_revenue=1456356.0)
Row(order_date='7/6/2016', total_revenue=802989.4375)
Row(order_date='2/6/2016', total_revenue=126109.390625)
Row(order_date='2/19/2012', total_revenue=217368.453125)
Row(order_date='4/30/2017', total_revenue=2196359.25)
Row(order_date='9/30/2012', total_revenue=14508.150390625)
Row(order_date='5/15/2015', total_revenue=151880.40625)
Row(order_date='9/1/2011', total_revenue=6666661.5)
Row(order_date='10/2/2011', total_revenue=4100669.25)
Row(order_date='1/28/2013', total_revenue=1171204.125)
Row(order_date='9/14/2013', total_revenue=503890.09375)
Row(order_date='6/20/2011', total_revenue=993573.75)
Row(order_date='2/18/2011', total_revenue=4227287.0)
Row(order_date='11/17/2012', total_revenue=603225.625)
Row(order_date='8/25/2011', total_revenue=69946.71875)
Row(order_date='11/20/2011', total_revenue=81161.671875)
Row(order_date='1/21/2016', total_revenue=348496.71875)
Row(order_date='6/6/2015', total_revenue=337990.71875)
Row(order_date='6/13/2011', total_revenue=979683.8125)
Row(order_date='2/9/2014', total_revenue=74957.21875)
Row(order_date='7/16/2014', total_revenue=5608790.0)
Row(order_date='12/31/2010', total_revenue=1336282.875)
Row(order_date='11/3/2013', total_revenue=53507.55078125)
Row(order_date='3/28/2011', total_revenue=6266594.0)
Row(order_date='10/26/2016', total_revenue=188518.84375)
Row(order_date='9/8/2013', total_revenue=429730.1875)
Row(order_date='10/10/2012', total_revenue=816150.4375)
Row(order_date='3/22/2014', total_revenue=4003440.5)
Row(order_date='6/19/2014', total_revenue=36860.23046875)
Row(order_date='9/13/2012', total_revenue=117913.25)
Row(order_date='7/19/2012', total_revenue=2014159.25)
Row(order_date='12/12/2015', total_revenue=33410.73046875)
Row(order_date='12/17/2010', total_revenue=2823440.75)
Row(order_date='3/9/2011', total_revenue=167640.84375)
Row(order_date='4/16/2015', total_revenue=1509220.875)
Row(order_date='2/28/2015', total_revenue=2636753.25)
Row(order_date='11/30/2015', total_revenue=643018.1875)
Row(order_date='11/11/2016', total_revenue=738014.5)
Row(order_date='5/1/2015', total_revenue=453813.59375)
Row(order_date='7/27/2012', total_revenue=14862.6904296875)
Row(order_date='5/29/2016', total_revenue=136140.640625)
Row(order_date='11/19/2016', total_revenue=92245.7109375)
Row(order_date='8/22/2015', total_revenue=1784241.75)
Row(order_date='10/2/2010', total_revenue=628499.375)
Row(order_date='10/7/2012', total_revenue=1297172.375)
Row(order_date='8/9/2016', total_revenue=130261.7578125)
Row(order_date='12/28/2013', total_revenue=4205821.5)
Row(order_date='5/28/2013', total_revenue=868465.375)